<div class="home-container">
    <header class="header">
        <h1>Welcome to my Website</h1>
        <p>Have a toour at the Website</p>
    </header>


<main class="main-container">
    <section class="feature">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Orange_and_cross_section.jpg" alt="feature-image">
        <h2>Discover Exciting feature</h2>
        <p>Explore our incredible features that will amaze you.</p>
    </section>

    <!-- <section class="cta">
        <h2> join Us Today!</h2>
        <p> Sign up now to get started</p>
        <button class="cta-button">Sign Up</button>
    </section> -->
</main>
</div>
